<section class="contact" style="background:#fdfcfc;" data-scroll-index="3">
    <div class="process">
        <div class="header">
            <h1 class="title">{{ .Site.Params.Contact.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.Contact.Subtitle }}</h2>
        </div>

        <form name="contact" method="POST" netlify>
  			<p><label>Your Name:</label> <input type="text" name="name" placeholder="Your name" /></p>
  			<p><label>Your Email:</label> <input type="email" name="email" placeholder="Your email" /></p>
  			<p><label>Telephone No:</label> <input type="telephone" name="telephone" placeholder="Your telephone number" /></p>
  			<p><label>Message:</label> <textarea name="message" placeholder="Type your message here..."></textarea></p>
			<div data-netlify-recaptcha></div>
  			<p><button type="submit">Send</button></p>
		</form>
    </div>
</section>
